

/* ------------------------------------------------------------ *\
	Custom Styles
\* ------------------------------------------------------------ */

.LogoBox{
  display: block;
  position: absolute;
  width: 5.25rem;
  height: 5.25rem !important;
  background-color: var(--medium);
  top: 1rem;
  margin: 0 auto;
  text-align: center;
  transform: rotate(-15deg);
  box-shadow: 
    inset 1px 1px 2px 1px #444,
    1px 2px 0px 2px #fff,
    1px 2px 5px 4px var(--inverse);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
}
.LogoBox > * {
  line-height: 5.1rem !important;
  transform: rotate(15deg);
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 1px;
  text-shadow: 2px 1px 2px #111;
}

/* ------------------------------------------------------------ *\
	Profile Circle
\* ------------------------------------------------------------ */

  .profile-img{
    overflow: hidden;
    width: 15vmax;
    height: 15vmax;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 3px solid #e2e2e2;
    position: absolute;
    bottom: 9vw;
    right: 15px;
    transform: rotate(-15deg);
  }
  .profile-img:before{
    content: "";
    display: block;
    background-image: url('../images/me_Oct2019_SqSm.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    z-index: -1;
    transform: rotate(15deg) scale(1.2);
    transform-origin: center;
  }

  .profile-text{
    position: absolute;
    top: 15vw;
    left: 15px;
    color: #fff;
    text-shadow: 2px 1px 3px #333;
  }
  .profile-text.no-profile{
    top: unset;
    bottom: 50%;
    left: 15px;
    transform: translateY(50%);
  }

  .profile-text h1{
    font-size: 4.5rem;
    font-weight: 300;
    padding-bottom: 4px;
  }
  .profile-text h3{
    font-size: 2.25rem;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    .profile-img{
      width: 13vmax;
      height: 13vmax;
      overflow: hidden;
      bottom: 50%;
      right: 40px;
      transform: 
        translateY(50%) rotate(-15deg) scale(1.2);
      transform-origin: center;
      border: 5px solid #e2e2e2;
    }
    .profile-img:before{
      background-image: url('../images/me_Oct2019_SqLrg.jpg');
    }
    .profile-text{
      top: unset;
      bottom: 50%;
      left: 0px;
      transform: translateY(50%);
    }
    .profile-text.no-profile{
      left: 0px;
    }
  }

/* ------------------------------------------------------------ *\
	Hero Section
\* ------------------------------------------------------------ */

.hero-section{
  width: 100%;
  height: 50vh;
  padding: 0;
}
.hero-section .hero-text.container{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.hero-section .hero-Image{
  display: block;
  width: 100%;
  height: 50vh;
  background-position: top center;
  background-size: cover;
  background-blend-mode: color;
  color: #fff;
}

/* Mobile Images - Small */
.hero-section .hero-Image.laptop{
  background-image: 
    linear-gradient(140deg, var(--inverse) 20%, var(--secondary) 80%),
    url('../images/dmitry-chernyshov-mP7aPSUm7aE-unsplash_sm.jpg');
}
.hero-section .hero-Image.projects{
  background-image: 
    linear-gradient(140deg, var(--inverse) 20%, var(--secondary) 80%),
    url('../images/ali-yahya-9zFa3XvxFx4-unsplash_sm.jpg');
}

/* Desktop Images - Fullsize */
@media (min-width: 768px) {
  .hero-section .hero-Image.laptop{
    background-image: 
      linear-gradient(140deg, var(--inverse) 0%, var(--secondary) 90%),
      url('../images/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg');
  }
  .hero-section .hero-Image.projects{
    background-image: 
      linear-gradient(140deg, var(--inverse) 0%, var(--secondary) 90%),
      url('../images/ali-yahya-9zFa3XvxFx4-unsplash.jpg');
  }
}

/* ------------------------------------------------------------ *\
	Notes Section
\* ------------------------------------------------------------ */

.notes-section .row{
  margin-top: 0px;
}
.notes-section .row > .col-12{
  margin-bottom: 30px;
}

.notes-section i{
  font-size: 4rem;
  /* color: var(--inverse); */
}

.notes-section h3{
  margin: 12px 0;
  color: var(--primary);
  font-size: 1.75rem;
  font-weight: 700;
}

.notes-section p{
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 6px;
}

@media (min-width: 768px) {
  .notes-section .row{
    margin-top: 60px;
  }
  .notes-section .row > .col-12{
    margin-bottom: 0px;
  }
}

/* ------------------------------------------------------------ *\
	Carousel
\* ------------------------------------------------------------ */

.owl-carousel.screen-shot .item{
  display: block;
  width: 100%;
  height: 90vw;
  background-color: #fff;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #222;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #bbb;
  transform: scale(0.98);
  overflow: hidden;
  padding: 8px;
}

.owl-carousel.screen-shot .youtube-item{
  height: 90vw;
}
.owl-carousel.screen-shot .owl-nav{
  margin: 6px 0;
}
.owl-carousel.screen-shot .owl-nav .owl-prev, 
.owl-carousel.screen-shot .owl-nav .owl-next{
  font-size: 30px;
  font-weight: 900;
  line-height: 17px;
  margin: 0 10px;
}
.owl-carousel.screen-shot .owl-nav button span{
  line-height: 6px;
}

.owl-carousel.screen-shot .text-bottom-left{
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.owl-carousel.screen-shot .text-bottom-right{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.owl-carousel.screen-shot ul{
  padding-right: 10px;
}

@media (max-width: 767px) {
  .owl-carousel h1{
    font-size: 1.625rem;
  }
  .owl-carousel h3{
    font-size: 1.125rem;
  }
  .owl-carousel h4{
    font-size: 1.125rem;
  }
  .owl-carousel .h5, .owl-carousel h5{
    font-size: 1rem;
  }
}

.owl-carousel .blank{
  background-image: linear-gradient(190deg, #fff0 70%, #fff 100%);
}

/* zeotec screens */
.zeotec .img01{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/zeotec/zeotec_00.jpg');
}
.zeotec .img02{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/zeotec/zeotec_01.jpg');
}
.zeotec .img03{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/zeotec/zeotec_02.jpg');
}
.zeotec .img04{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/zeotec/zeotec_03.jpg');
}

/* homeotto screens */
.homeotto .img01{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/homeotto/homeotto_app.jpg');
}
.homeotto .img02{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/homeotto/homeotto_01.jpg');
}
.homeotto .img03{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/homeotto/homeotto_02.jpg');
}
.homeotto .img04{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/homeotto/homeotto_03.jpg');
}
.homeotto .img05{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/homeotto/homeotto_04.jpg');
}

/* buildotto screens */
.buildotto .img01{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/buildotto/buildotto_01.jpg');
}
.buildotto .img02{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/buildotto/buildotto_05.jpg');
}
.buildotto .img03{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/buildotto/buildotto_06.jpg');
}
.buildotto .img04{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/buildotto/buildotto_07.jpg');
}
.buildotto .img05{
  background-image: 
    linear-gradient(190deg, #fff0 70%, #fff 100%),
    url('../images/buildotto/buildotto_08.jpg');
}

/* photogiftworld screens */
.photogiftworld .img01{
  background-image: 
    linear-gradient(190deg, #fff0 15%, #fff 50%),
    url('../images/photogiftworld/printing.jpg');
}
.photogiftworld .img02{
  background-image: 
    linear-gradient(190deg, #fff0 25%, #fff 50%),
    url('../images/photogiftworld/monitors.jpg');
}
.photogiftworld .img03{
  background-image: 
    linear-gradient(190deg, #fff0 20%, #fff 45%),
    url('../images/photogiftworld/laptop.jpg');
}
.photogiftworld .img04{
  background-image: 
    linear-gradient(190deg, #fff0 10%, #fff 35%),
    url('../images/photogiftworld/desktopprinting.jpg');
}
.photogiftworld .img05{
  background-image: 
    linear-gradient(190deg, #fff0 20%, #fff 50%),
    url('../images/photogiftworld/shipping.jpg');
}

@media (min-width: 768px) {
  /* photogiftworld screens */
  .photogiftworld .img01{
    background-image: 
      linear-gradient(190deg, #fff0 40%, #fff 80%),
      url('../images/photogiftworld/printing.jpg');
  }
  .photogiftworld .img02{
    background-image: 
      linear-gradient(190deg, #fff0 40%, #fff 80%),
      url('../images/photogiftworld/monitors.jpg');
  }
  .photogiftworld .img03{
    background-image: 
      linear-gradient(190deg, #fff0 40%, #fff 80%),
      url('../images/photogiftworld/laptop.jpg');
  }
  .photogiftworld .img04{
    background-image: 
      linear-gradient(190deg, #fff0 40%, #fff 80%),
      url('../images/photogiftworld/desktopprinting.jpg');
  }
  .photogiftworld .img05{
    background-image: 
      linear-gradient(190deg, #fff0 40%, #fff 80%),
      url('../images/photogiftworld/shipping.jpg');
  }
}

@media (min-width: 576px) {
  .owl-carousel.screen-shot .item, 
  .owl-carousel.screen-shot .youtube-item{
    min-height: 345px;
  }
}

@media (min-width: 768px) {
  .owl-carousel.screen-shot .item, 
  .owl-carousel.screen-shot .youtube-item{
    min-height: 576px;
    height: unset;
  }
  .owl-carousel.screen-shot .owl-nav{
    margin: 6px 0;
  }
}

@media (min-width: 992px) {
  .owl-carousel.screen-shot .item, 
  .owl-carousel.screen-shot .youtube-item{
    min-height: 465px;
    height: unset;
  }
}

@media (min-width: 1200px) {
  .owl-carousel.screen-shot .item, 
  .owl-carousel.screen-shot .youtube-item{
    min-height: 555px;
    height: unset;
  }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer{
  background-color: var(--primary);
  min-height: 6rem;
  color: #fff;
}